<head>
    <script src="_/js/myscript.js"></script>
</head>
<div class="content row">
    <div class="col-lg-12">
        <header class="clearfix">
            <section id="branding">
                <a href="index.html"><img src="images/misc/ralogo_monogram.png" alt="Logo for Roux Conference"></a>
            </section><!-- branding -->

            <section class="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#/venuetravel">Venue/Travel</a></li>
                    <li><a href="#/schedule">Schedule</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Artists <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            <li><a tabindex="-1" href="artists.html">All artists</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="artists.html#Barot_Bellingham">Barot Bellingham</a></li>
                            <li><a tabindex="-1" href="artists.html#Gerard_Donahue">Gerard Donahue</a></li>
                            <li><a tabindex="-1" href="artists.html#Jonathan_Ferrar">Jonathan Ferrar</a></li>
                            <li><a tabindex="-1" href="artists.html#Lorenzo_Garcia">Lorenzo Garcia</a></li>
                            <li><a tabindex="-1" href="artists.html#Hillary_Goldwynn">Hillary Goldwynn</a></li>
                            <li><a tabindex="-1" href="artists.html#Hassum_Harrod">Hassum Harrod</a></li>
                            <li><a tabindex="-1" href="artists.html#Jennifer_Jerome">Jennifer Jerome</a></li>
                            <li><a tabindex="-1" href="artists.html#LaVonne_LaRue">LaVonne LaRue</a></li>
                            <li><a tabindex="-1" href="artists.html#Riley_Rewington">Riley Rewington</a></li>
                            <li><a tabindex="-1" href="artists.html#Constance_Smith">Constance Smith</a></li>
                            <li><a tabindex="-1" href="artists.html#Xhou_Ta">Xhou Ta</a></li>
                            <li><a tabindex="-1" href="artists.html#Richard_Tweed">Richard Tweed</a></li>
                        </ul><!-- dropdown menu -->
                    </li>
                    <li><a href="#/register">Register</a></li>
                </ul><!-- nav -->
            </section><!-- navbar -->

        </header><!-- header -->
    </div><!-- column -->
</div><!-- content -->