    <div class="content row">

        <section class="main col col-lg-8">

            <div ng-include src="'_/components/partials/article-registrationform.html'"></div>
        </section><!--main section-->
        <section class="sidebar col col-lg-4">
            <div ng-include src="'_/components/partials/aside-register.html'"></div>
            <div ng-include src="'_/components/partials/aside-lastyear.html'"></div>
            <div ng-include src="'_/components/partials/aside-abouttheartists.html'"></div>
            <div ng-include src="'_/components/partials/aside-accordion.html'"></div>
        </section><!--sidebar section-->
    </div> <!--content-->

