<div class="content row">
    <div ng-include src="'_/components/partials/snippet-carousel.html'"></div>
        <section class="main col col-lg-8">
            <div ng-include src="'_/components/partials/article-intro.html'"></div>
            <div ng-include src="'_/components/partials/article-abouttheartists.html'"></div>
            <div ng-include src="'_/components/partials/article-aboutthevenue.html'"></div>
        </section><!--main section-->
        <section class="sidebar col col-lg-4">
            <div ng-include src="'_/components/partials/aside-register.html'"></div>
            <div ng-include src="'_/components/partials/aside-lastyear.html'"></div>
            <div ng-include src="'_/components/partials/aside-accordion.html'"></div>

        </section><!--sidebar section-->
    </div> <!--content-->

